

body{
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
}
